table{
    padding: 12px;
    border: 1px solid black;
    border-collapse: collapse;
}

tr,td{
    padding: 9px;
}

.btn{
    background-color: rgb(105, 255, 105);
    padding: 12px;
    border: solid 1px white;
    border-radius: 8px;
}

.btn:hover{
    background-color: rgb(176, 244, 176);
}

input {
    padding: 12px;
}

.butn{
    background-color: rgb(27, 204, 27);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.butn:hover{
    background-color:  rgba(26, 148, 26, 0.553);
}